* {
  margin: 0;
  padding: 0;
}

footer {
  /* background: #adefd1ff; */
  background-image: linear-gradient(135deg, #f6dfd5 0, #f6ede9 100%);
  padding: 50px 0;
}

footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo {
  border: 1px solid black;
  background: lightgray;
}

footer .logo h1 {
  text-decoration: none;
  color: crimson;
  /* font-family: "Roboto Mono"; */
  /* font-family: "Monoton"; */
  font-family: "Roboto Slab";
  font-size: 30px;
  margin-right: 5px;
  margin-top: 35%;
  text-align: center;
}

footer .company h1,
footer .explore h1,
footer .support h1,
footer .address h1 {
  font-size: 20px;
  font-weight: 700;
  /* color: #963cbdff; */
  color: rgb(254, 20, 0);
}

footer .company ul li a,
footer .explore ul li a,
footer .support ul li a {
  text-decoration: none;
  /* color: #2460a7ff; */
  color: #ff4738;
}

footer .address i {
  /* color: #2460a7ff; */
  color: #ff7165;
}

footer .address p {
  /* color: #2a2b2dff; */
  color: #ff4738;
}

footer .social-media {
  margin-top: 10px;
}

footer .social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .social-media i {
  margin: 0 10px;
}

footer .social-media .facebook i {
  font-size: 25px;
  color: #3b5998;
}

footer .social-media .twitter i {
  font-size: 25px;
  color: #3f729b;
}

footer .social-media .instagram i {
  font-size: 25px;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .social-media .linkedin i {
  font-size: 25px;
  color: #0e76a8;
}

footer .copy-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .copy-right h6 span {
  color: crimson;
}

footer .copy-right .terms-privacy ul li a {
  text-decoration: none;
  color: #2460a7ff;
}

@media (max-width: 425px) {
  footer .logo {
    margin-bottom: 20px;
  }

  footer .logo {
    width: 100%;
  }
}

@media (min-width: 768px) {
  footer .social-media {
    justify-content: flex-end;
  }

  footer .copy-right {
    justify-content: space-between;
  }
}
