* {
  margin: 0;
  padding: 0;
}

.body-section {
  margin-top: 13rem;
}

.body-section .message-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.body-section .message-1 textarea {
  padding: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}

.body-section .message-1 .send-btn button {
  background: #faa094ff;
  padding: 5px 30px;
  color: white;
  font-weight: 900;
}

.body-section .message-1 .activity {
  font-size: 14px;
  margin-bottom: 10px;
}

.body-section .message-1 .activity i {
  margin-top: 3px;
  margin-right: 10px;
  font-size: 14px;
}

.body-section .message-1 .card {
  margin-bottom: 20px;
}

.body-section .message-1 .card .name-logo h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #7392d5;
  position: absolute;
  left: 30%;
  top: 12%;
}

.body-section .message-1 .card .name-logo {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  border: 2px solid #7392d5;
  position: relative;
}

.body-section .message-1 .card .name-details h5 {
  font-size: 17px;
  font-weight: 900;
}

.body-section .message-1 .card .name-details h6 {
  font-size: 15px;
  color: grey;
}

.body-section .message-1 .card button {
  background: rgba(0, 0, 0, 0.03);
}
/* ===================================================== */

/* ================reply-msg=================== */

.body-section .message-1 .card {
  margin-bottom: 20px;
}

.body-section .message-1 .card .reply-name-logo h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #7392d5;
  position: absolute;
  left: 30%;
  top: 12%;
}

.body-section .message-1 .card .reply-name-logo {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  border: 2px solid #7392d5;
  position: relative;
}

.body-section .message-1 .card .reply-name-details h5 {
  font-size: 18px;
  font-weight: 900;
}

.body-section .message-1 .card .reply-name-details h6 {
  font-size: 15px;
  color: grey;
}

/* ==================================================== */

.body-section .message-2 {
  padding: 10px;
}

.body-section .message-2 h1 {
  font-size: 18px;
  font-weight: 900;
}

.body-section .message-2 .name-logo {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  border: 2px solid #7392d5;
  position: relative;
}

.body-section .message-2 .name-logo h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #7392d5;
  position: absolute;
  left: 30%;
  top: 12%;
}

.body-section .message-2 .pending .name-logo h4 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #7392d5;
  position: absolute;
  left: 20%;
  top: 14%;
}

.body-section .message-2 .care-owner .accepted .name-details h5 {
  font-size: 17px;
  font-weight: 900;
}

/* .body-section .message-2 .care-owner .name-details h6 {
  font-size: 15px;
  color: grey;
} */

.body-section .message-2 .care-team .name-details h5 {
  font-size: 17px;
  font-weight: 900;
}

.body-section .message-2 .care-team .name-details h6 {
  font-size: 15px;
  color: grey;
}

.body-section .message-2 .care-owner a {
  color: #ed2b33ff;
  font-size: 13px;
  text-decoration: none;
}

.body-section .message-2 .care-team {
  position: relative;
}

.body-section .message-2 .care-team .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-section .message-2 .care-team .edit button {
  position: absolute;
  color: #f93822ff;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: 1px solid #f93822ff !important;
  padding: 3px 18px;
  right: 0;
}

.body-section .message-2 .care-team .invite-others a {
  color: #ed2b33ff;
  font-size: 13px;
  text-decoration: none;
}

.body-section .message-2 .pending .name-details h5 {
  font-size: 17px;
  font-weight: 900;
}

.body-section .message-2 .pending .name-details h6 {
  font-size: 15px;
  color: grey;
}

.body-section .message-2 .pending .name-details h5 {
  font-size: 17px;
}

.body-section .message-2 .pending .edit button {
  position: absolute;
  color: #f93822ff;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: 1px solid #f93822ff !important;
  padding: 3px 18px;
  right: 0;
}

.body-section .message-2 .current-plan .div {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #faa094ff;
  margin-right: 10px;
  margin-left: 15px;
  position: relative;
}

.body-section .message-2 .current-plan .div i {
  position: absolute;
  font-size: 30px;
  top: 18%;
  left: 19%;
  color: #faa094ff;
}

.body-section .message-2 .current-plan h2 {
  font-size: 18px;
  font-weight: 500;
  /* margin-top: 13px; */
}

.body-section .message-2 .current-plan a {
  color: #ed2b33ff;
  font-size: 13px;
  text-decoration: none;
}

/* --------------------------------------------- */

/* ============================================ */
