* {
  margin: 0;
  padding: 0;
}

/* input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
} */

button:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

/* ========================================================= */
/* form li {
  margin: 0.3rem 0;
}
form div {
  margin: 1.5rem 0;
} */
