#accepted-member .modal-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#accepted-member .modal-body input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#accepted-member .modal-body input[type="radio"]:hover + label:before {
  border-color: #999;
}

#accepted-member .modal-body input[type="radio"]:active + label:before {
  transition-duration: 0;
  filter: brightness(0.2);
}

#accepted-member .modal-body input[type="radio"] + label {
  position: relative;
  padding-left: 26px;
  font-weight: normal;
}

#accepted-member .modal-body input[type="radio"] + label:before,
#accepted-member .modal-body input[type="radio"] + label:after {
  box-sizing: content-box;
  position: absolute;
  content: "";
  display: block;
  left: 0;
}

#accepted-member .modal-body input[type="radio"] + label:before {
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  border: 2px solid #d9d9d9;
  text-align: center;
}

#accepted-member .modal-body input[type="radio"] + label:after {
  background-color: #00bad2;
  top: 50%;
  left: 6px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

#accepted-member .modal-body input[type="radio"]:checked + label:before {
  -moz-animation: borderscale 300ms ease-in;
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
  background-color: #fff;
}
#accepted-member .modal-body input[type="radio"]:checked + label:after {
  transform: scale(1);
}
#accepted-member .modal-body input[type="radio"] + label:before,
#accepted-member .modal-body input[type="radio"] + label:after {
  border-radius: 50%;
}

#accepted-member .modal-body .modal-footer .revoke {
  color: white;
  font-weight: 900;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: 1px solid #f93822ff !important;
}

#pending-member .modal-body .pend-1 p {
  font-size: 15px;
  color: rgb(90, 89, 89);
}

#pending-member .modal-body .pend-2 {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}

#pending-member .modal-body .pend-2 p {
  font-size: 15px;
  color: rgb(90, 89, 89);
}

#invite-others .modal-body .pend-1 p {
  font-size: 15px;
  color: rgb(90, 89, 89);
}
