* {
  margin: 0;
  padding: 0;
}

/* header {
  position: fixed;
} */

header .container-fluid {
  padding: 0 100px;
  /* background: #adefd1ff; */
  background: white;
}

.navbar-1 {
  padding: 0 0;
  box-shadow: 3px 8px 8px #f1f4fc;
}

.navbar-1 .logo {
  text-decoration: none;
  color: crimson;
  /* font-family: "Roboto Mono"; */
  /* font-family: "Monoton"; */
  font-family: "Roboto Slab";
  font-size: 20px;
  margin-right: 5px;
}

.navbar-1 .navbar button {
  border: 0;
  outline: none;
}

.navbar-1 .navbar button span i {
  color: red;
  font-size: 30px;
}

.navbar-1 .nav-care {
  padding: 10px 0;
}

.nav-link:hover {
  color: #000;
}

.navbar-1 .nav-care:hover {
  color: #000;
}

.navbar-1 .care-project .div1 {
  padding: 0 20px;
}

.navbar-1 .care-project .div1 .project-owner-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.navbar-1 .care-project .div1 .project-owner-name span {
  font-size: 12px;
  color: #ed2b33ff;
}

.navbar-1 .care-project .div1 a {
  color: #ed2b33ff;
  font-size: 12px;
  text-decoration: none;
}

.navbar-1 .care-project .div2 {
  margin-left: 21px;
}

.navbar-1 .care-project .div2 a {
  font-size: 15px;
  text-decoration: none;
}

.navbar-1 .care-project .div2 a i {
  color: #007bff;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 3px;
}

.navbar-1 .care-coordinator {
  background: #9fc131ff;
  color: white;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  margin-right: 20px;
}

.navbar-1 .navbar-nav .nav-link {
  color: black;
}

.navbar-1 .nav-trackmyhealth {
  padding: 10px 0;
}

.navbar-1 .nav-trackmyhealth ul li {
  padding: 0px 20px;
}

.navbar-1 .nav-trackmyhealth ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

@media (min-width: 320px) and (max-width: 350px) {
}

@media (max-width: 768px) {
  header .container-fluid {
    padding: 0 0;
  }

  .navbar-1 .logo {
    font-size: 12px;
  }

  .navbar-1 .nav-trackmyhealth ul li {
    padding: 0px 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .container-fluid {
    padding: 0 0;
  }

  .navbar-1 .care-project .div1 .project-owner-name {
    font-size: 18px;
  }

  .navbar-1 .care-project .div2 a {
    font-size: 14px;
  }

  .navbar-1 .care-coordinator {
    font-size: 12px;
    margin-right: 2px;
  }

  .navbar-1 .sign-up {
    font-size: 14px;
  }
  .navbar-1 .log-in {
    font-size: 14px;
  }
}

/* ================================================================ */

.navbar-2 {
  /* background: #ffdde2ff; */
  background: whitesmoke;
  margin-bottom: 20px;
}

.navbar-2 ul li a {
  text-decoration: none;
  color: #696667ff;
}

.navbar-2 ul li {
  padding: 0px 5px;
}

.navbar-2 button {
  color: #ed2b33ff !important;
  background: white;
  border: 2px solid #ed2b33ff !important;
  border-radius: 50px;
  letter-spacing: 2px;
}

@media (min-width: 768px) and (max-width: 980px) {
  .navbar-2 ul li a {
    font-size: 12px;
  }

  .navbar-2 button {
    color: #ed2b33ff !important;
    background: white;
    border: 2px solid #ed2b33ff !important;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 12px;
  }
}

/* ===================================================== */
