* {
  margin: 0;
  padding: 0;
}

.task-body {
  margin-top: 13rem;
  margin-bottom: 4rem;
}

.task-body .task-left .d-flex {
  background: whitesmoke;
  border: 1px solid lightgray;
  padding: 0 0;
}

.task-body .task-right {
  border: 1px solid lightgray;
  padding-top: 10px;
}

.task-body .task-left a {
  color: rgb(87, 85, 85);
  text-decoration: none;
  font-size: 10px;
  border: 1px solid lightgray;
  padding: 12px 0px 5px 25px;
}

.task-body .task-left .create-task button {
  color: #ed2b33ff !important;
  background: white;
  border: 2px solid #ed2b33ff !important;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.task-body .task-right .view-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.task-body .task-right .view-status .task-status {
  margin-top: 1%;
}

.task-body .task-right .view-status .task-status select:focus {
  box-shadow: none;
}
/* 
@media (min-width: 320px) and (max-width: 350px) {
  .task-body .task-right .view-status {
    font-size: 5px;
  }
} */

@media (min-width: 1020px) {
  .task-body .task-right .view-status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .task-body .task-right .view-status .task-status {
    margin-top: 15%;
  }
}

.task-body .task-right .planned-head h3 {
  font-weight: 600;
}

.task-body .task-right .planned-head h3 span {
  color: gray;
  font-weight: normal;
}

.task-body .task-right .planned-head p {
  color: gray;
}

.task-body .task-right p a {
  text-decoration: none;
  color: #ed2b33ff;
}

.task-body .task-right .planned-task1 h5 {
  font-size: 17px;
  font-weight: 600;
}

.task-body .task-right .planned-task1 p {
  color: gray;
}

.task-body .task-right .planned-task1 a {
  color: #7392d5 !important;
  font-size: 15px;
  background: whitesmoke;
  border: 2px solid #7392d5 !important;
  border-radius: 50px;
}

/* =============================================== */

/* ================================================== */

.task-body .task-right #new-task .newtask h3 {
  font-size: 30px;
  font-weight: 600;
}

.task-body .task-right #new-task .title h3,
.task-body .task-right #new-task .summary h3,
.task-body .task-right #new-task .task-date h3,
.task-body .task-right #new-task .relationship h3,
.task-body .task-right #new-task .status h3 {
  font-size: 25px;
  font-weight: 600;
}

.task-body .task-right #new-task .title,
.task-body .task-right #new-task .summary,
.task-body .task-right #new-task .task-date,
.task-body .task-right #new-task .relationship,
.task-body .task-right #new-task .status {
  margin-bottom: 20px;
}

.task-body .task-right #new-task .title input {
  outline: none;
  padding: 5px;
  font-size: 20px;
  border: 1px solid lightgray !important;
  border-radius: 5px;
  width: 100%;
}

.task-body .task-right #new-task .summary textarea {
  outline: none;
  padding: 5px;
  font-size: 20px;
  border: 1px solid lightgray !important;
  border-radius: 5px;
  width: 100%;
}

.task-body .task-right #new-task .task-date h5 {
  text-align: center;
}

.task-body .task-right #new-task .task-date input {
  outline: none;
  padding: 5px;
  font-size: 20px;
  border: 1px solid lightgray !important;
  border-radius: 5px;
  width: 100%;
}

.task-body .task-right #new-task .relationship select {
  box-shadow: none;
}

.task-body .task-right #new-task .status select {
  box-shadow: none;
}

.task-body .task-right #new-task .create-task button {
  color: #ed2b33ff !important;
  font-size: 20px;
  font-weight: 600;
  background: white;
  border: 2px solid #ed2b33ff !important;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 425px) {
  .task-body .task-right {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .task-body {
    margin-top: 16rem;
  }
}

/* ================================================== */

/* #new-task {
  display: block;
} */

#planned,
#in-progress,
#hello,
#cancelled {
  display: none;
}

#icon1,
#icon2,
#icon3,
#icon4 {
  display: none;
}
