* {
  margin: 0;
  padding: 0;
}

.view-body {
  margin-top: 13rem;
  margin-bottom: 4rem;
}

.view-body .task-left .d-flex {
  background: whitesmoke;
  border: 1px solid lightgray;
  padding: 0 0;
}

.view-body .task-right {
  border: 1px solid lightgray;
  padding-top: 10px;
}

.view-body .task-left a {
  color: rgb(87, 85, 85);
  text-decoration: none;
  font-size: 10px;
  border: 1px solid lightgray;
  padding: 12px 0px 5px 25px;
}

.view-body .task-left .create-task button {
  color: #ed2b33ff !important;
  background: white;
  border: 2px solid #ed2b33ff !important;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.view-body .view-task-messages .send button {
  background: rgb(235, 106, 106);
  color: white;
  font-weight: 600;
  border: 2px solid rgb(182, 17, 17);
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
}

.view-body .view-task-messages .send button:focus {
  background: rgb(235, 106, 106);
}

.view-body .view-task-messages .card {
  margin-bottom: 20px;
}

.view-body .view-task-messages .card .name-logo h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #7392d5;
}

.view-body .view-task-messages .card .name-logo {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  padding: 7px 0 0 0;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  border: 2px solid #7392d5;
}

.view-body .view-task-messages .card .name-details h5 {
  font-size: 17px;
  font-weight: 900;
}

.view-body .view-task-messages .card .name-details h6 {
  font-size: 15px;
  color: grey;
}

.view-body .view-task-messages .card button {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid gray !important;
  letter-spacing: 2px;
}

.view-body .view-task .task-category h6 {
  color: rgb(87, 85, 85);
  letter-spacing: 5px;
}

.view-body .view-task .task-title h3 {
  font-weight: 600;
}

.view-body .view-task .task-summary h6,
.view-body .view-task-messages .message h6 {
  font-weight: 600;
  letter-spacing: 2px;
}

.view-body .view-task-messages h6 {
  font-weight: 600;
}

.view-body .view-task-messages textarea {
  outline: none;
  padding: 5px;
  font-size: 20px;
  border: 1px solid lightgray !important;
  border-radius: 5px;
  width: 100%;
}

.view-body .create-date h6,
.view-body .schedule-date h6,
.view-body .status h6 {
  font-weight: 600;
  letter-spacing: 2px;
}

.view-body .edit-task button {
  background: rgb(235, 106, 106);
  color: white;
  font-weight: 600;
  border: 2px solid rgb(182, 17, 17);
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
}
